.mypage-nav
  %ul.page-lists
    %li.page-lists__list
      = link_to "/" do
        freemarket
        = icon('fa', 'angle-right', class: 'icon')
    %li.page-lists__list--2
      マイページ
.main
  .main__left
    .menu
      %h3.menu__title
        設定
      %ul.menu-lists
        %li.menu-lists__list
          =link_to "root_path" do
            プロフィール
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "delivery_address" do
            発送元・お届け先住所変更
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "card" do
            支払い方法
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            メール/パスワード
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "user_information" do
            本人情報
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            電話番号の確認
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "log_out" do
            ログアウト
            = icon('fa', 'angle-right', class: 'icon')

  .main__right
    %h2.cardpage-head
      支払い方法
    .cardpage-bottom
      .top
        .top__content
          %h3.sub-head
            クレジットカード一覧
        - if @cards.present?
          - @cards.each_with_index do |card, i|
            .card__payment__list
              %form.card__payment__content
              .card__list
                .card__list__picture
              .card__number
                = "**** **** **** " + @card_information[i].last4
              .expire__date
                - exp_month = @card_information[i].exp_month.to_s
                - exp_year = @card_information[i].exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              = form_tag(delete_card_index_path, method: :delete, id: 'charge-form',  name: "inputForm") do
                %input{ type: "hidden", name: "card_id", value: "" }
                %button.delete__button 削除する
            .how__not__regist
              %span 支払い方法について
        .add-card
          .card-form
            = link_to edit_card_path(current_user), class: 'submit-btn', data: {"turbolinks" => false}  do
              = icon('far', 'credit-card', class: 'icon')
              クレジットカードを追加する

.sell-btn
  .btn-title
    出品する
    = image_tag src="/assets/icon/icon_camera.png", size: "60"