-#= render "header"

.mypage-nav
  %ul.page-lists
    %li.page-lists__list
      = link_to "root_path" do 
        freemarket
        = icon('fa', 'angle-right', class: 'icon')
    %li.page-lists__list--2
      マイページ
.main
  .main__left
    .menu
      %h3.menu__title
        設定
      %ul.menu-lists
        %li.menu-lists__list
          =link_to "root_path" do
            プロフィール
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "delivery_address" do
            発送元・お届け先住所変更
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "card" do
            支払い方法
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            メール/パスワード
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "user_information" do
            本人情報
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            電話番号の確認
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "log_out" do
            ログアウト
            = icon('fa', 'angle-right', class: 'icon')

  .main__right
    %h2.cardpage-head
      支払い方法
    .cardpage-bottom
      .top
        .top__content
          %h3.sub-head
            クレジットカード一覧
        .add-card
          .card-form
            = link_to "#", class: 'submit-btn' do
              = icon('far', 'credit-card', class: 'icon')
              クレジットカードを追加する

.sell-btn
  .btn-title
    出品する
    = image_tag src="/assets/icon/icon_camera.png", size: "60"



-#= render "footer"
