= render partial: "shared/header"

.mypage-nav
  %ul.page-lists
    %li.page-lists__list
      = link_to "/" do
        freemarket
        = icon('fa', 'angle-right', class: 'icon')
    %li.page-lists__list--2
      = @user.nickname
      さんのマイページ
.main
  .main__left
    - if current_user.id == @user.id
      .menu
        %h3.menu__title
          設定
          %ul.menu-lists
            %li.menu-lists__list
              =link_to user_path(current_user.id) do
                プロフィール
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to delivery_address_users_path do
                発送元・お届け先住所変更
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to card_users_path do
                支払い方法
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to "#" do
                メール/パスワード
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to user_information_users_path do
                本人情報
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to "#" do
                電話番号の確認
                = icon('fa', 'angle-right', class: 'icon')
            %li.menu-lists__list
              =link_to log_out_users_path do
                ログアウト
                = icon('fa', 'angle-right', class: 'icon')
  .main__right
    .mypage-user
      = link_to root_path do
        .user-face
          = image_tag asset_path("icon/member_photo_noimage_thumb.png"), size: "60x60"
        %h2.user-name
          = @user.nickname
        .user-information
          .judge
            評価
            %span 0
          .goods
            出品数
            %span 0
    .mypage-contents
      %ul.mypage-tabs
        %li.mypage-tabs__now
          取引中
        %li.mypage-tabs__old
          過去の取引
      .tab-content
        .tab-content__left
          - if @sell_items.present?
            %ul.found-action
              %li.found
                - @sell_items.each_with_index do |sell, i|
                  = link_to item_path(sell.id), class: 'tab__link' do
                    = image_tag asset_path(sell.images.first.image), size:"220x150",class: 'pick-img'
                    %p.item_name
                      = i + 1
                      ：
                      = sell.name.truncate(15) 

          - else
            %ul.notfound-action
              %li.not-found
                取引中の商品がありません

        .tab-content__right
          - if @sold_items.present?
            %ul.found-action
              %li.found
                - @sold_items.each_with_index do |sold, i|
                  = link_to item_path(sold.id), class: 'tab__link' do
                    = image_tag asset_path(sold.images.first.image), size:"220x150",class: 'pick-img'
                    %p.item_name
                      = i + 1
                      ：
                      = sold.name.truncate(15) 
          - else
            %ul.notfound-action
              %li.not-found
                過去に取引した商品がありません
                    

.sell-btn
  .btn-title
    出品する
    =link_to new_item_path, target:"_blank" do
      = image_tag asset_path('icon/icon_camera.png'), size: "60"
= render partial: "shared/footer"
