.mypage-nav
  %ul.page-lists
    %li.page-lists__list
      = link_to "/" do
        freemarket
        = icon('fa', 'angle-right', class: 'icon')
    %li.page-lists__list--2
      マイページ
.main
  .main__left
    .menu
      %h3.menu__title
        設定
      %ul.menu-lists
        %li.menu-lists__list
          =link_to "root_path" do
            プロフィール
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "delivery_address" do
            発送元・お届け先住所変更
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "card" do
            支払い方法
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            メール/パスワード
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "user_information" do
            本人情報
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "#" do
            電話番号の確認
            = icon('fa', 'angle-right', class: 'icon')
        %li.menu-lists__list
          =link_to "log_out" do
            ログアウト
            = icon('fa', 'angle-right', class: 'icon')
  .main__right
    .mypage-user
      = link_to "#" do
        .user-face
          = image_tag src="/assets/icon/member_photo_noimage_thumb.png", size: "60x60"
        %h2.user-name
          = current_user.nickname
        .user-information
          .judge
            評価
            %span 0
          .goods
            出品数
            %span 0
    .mypage-contents
      %ul.mypage-tabs
        %li.mypage-tabs__tab
          %h3
            = link_to "#" do
              取引中
        %li.mypage-tabs__tab
          %h3
            = link_to "#" do
              過去の取引
      .tab-content
        %ul.content-action-now
          %li.not-found
            取引中の商品がありません
        %ul.content-action-old
          %li.not-found
            過去に取引した商品がありません



.sell-btn
  .btn-title
    出品する
    = image_tag src="/assets/icon/icon_camera.png", size: "60"
