.buying-header
  %h1
    = link_to "#" do
      = image_tag src ="/assets/logo/logo.png"

.main
  .buy-contrnts
    %h2
      購入内容の確認
    .buy-contrnts__content
      .contents-files
        .item-box
          %h3.item-image
            =image_tag src ="/assets/cap.images.jpg"
          .item-detail
            %p.item-name
              トランプCAP
            %p.item-price
              %span<¥1,800
              %span.fee<（税込）送料込み
    .buy-contrnts__details
      .details-inner
        .details-inner__item
          .contents-files
            %ul.price-table
              %li.price-pay
                .field
                  支払い金額
                .field-label
                  %span.price-cell
                    ¥1,800
            %ul.point-table
              %li.pay-point
                .point
                  = icon('fas', 'square', class: 'icon')
                  .point-label
                    ポイントを使用 (所持ポイント: P0)
        .details-inner__card
          .contents-files
            %h3<支払い方法
            = link_to "#" do
              %p.card-info
                = icon('far', 'plus-square', class: 'icon')
                %span.register-text
                  登録してください
        .details-inner__address
          ..contents-files
            .address-info
              %h3.info-left
                配送先
                =link_to "#" do
                  %span.info-right
                    変更する
            .user-address
              %p
                〒000-0000
                %br
                  東京都　渋谷区
                  渋谷1-1-1
                  フォンテンビル101
                  %br
                  山田　太郎
        .details-inner__infomation
          %p.infomation-text
            郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
          .input-form
            = form_with do |f|
              = f.submit '購入する', class: 'submit-btn'

.new-container__footer
  %ul.new-container__footer__rules
    %li.new-container__footer__rules--left
      = link_to "プライバシーポリシー","#", class: "new-container__footer__rules--left__link rules__links"
    %li.new-container__footer__rules--center
      = link_to "メルカリ利用規約", "#", class: "new-container__footer__rules--center__link rules__links"
    %li.new-container__footer__rules--right
      = link_to "特定商取引に関する表記", "#", class: "new-container__footer__rules--right__ink rules__links"
  .new-container__footer__bottom
    = link_to "#", class: "new-container__footer__bottom__link" do
      %i.fas.fa-cube.new-container__footer__bottom__link--icon
      %p.new-container__footer__bottom__link--title
        FURIMA
  %p.new-container__footer__Incorporated
    © FURIMA, Inc