.new-container
  %header.new-container__header
    = link_to "#" do
      = image_tag "logo/logo.png", class: "new-container__header__logo"

  .new-container__footer
    %ul.new-container__footer__rules
      %li.new-container__footer__rules--left
        = link_to "プライバシーポリシー", "#", class: "new-container__footer__rules--left__link rules__links"
      %li.new-container__footer__rules--center
        = link_to "メルカリ利用規約", "#", class: "new-container__footer__rules--center__link rules__links"
      %li.new-container__footer__rules--right
        = link_to "特定商取引に関する表記", "#", class: "new-container__footer__rules--right__ink rules__links"
    
    .new-container__footer__bottom
      = link_to "#", class: "new-container__footer__bottom__link" do
        %i.fas.fa-cube.new-container__footer__bottom__link--icon
        %p.new-container__footer__bottom__link--title
          FURIMA
    
    %p.new-container__footer__Incorporated
      © FURIMA, Inc