= render "header"
.showcontainer
  .showcontainer__itemContents
    %h2.showcontainer__itemContents__item-name
      = @item.name
    .showcontainer__itemContents__images
      %ul.showcontainer__itemContents__images__display-up.slick
        - @item.images.each do |thumbnail| 
          %li.fade-list
            = image_tag thumbnail.image_url, class: "fade-list__image"
            - if @item.buyer == "buy"
              %span.fade-list__image__badge
                = @item.buyer_i18n

      %ul.showcontainer__itemContents__images__display-down.thumbnail
        - @item.images.each do |thumbnail| 
          %li.display-down__image
            = image_tag thumbnail.image_url, size: "120x123"



    .showcontainer__itemContents__price
      %h2.showcontainer__itemContents__price__amount
        ¥
        = @item.price
        %span.showcontainer__itemContents__price__amount__tax
          (税込)
        %span.showcontainer__itemContents__price__amount__shippingConst
          送料込み


    .showcontainer__itemContents__item-btns
      - if user_signed_in? && current_user.id == @item.user_id
        = link_to "商品を削除する", item_path(@item.id), method: :delete, class: "showcontainer__itemContents__item-btns--left show-a"
        = link_to "商品を編集する", "#", class: "showcontainer__itemContents__item-btns--right show-a"
      - elsif user_signed_in? && current_user.id
        = link_to "購入画面に進む", purchase_item_path(@item), class: "showcontainer__itemContents__item-btns--center show-a"


    .showcontainer__itemContents__item-introduction
      %p.showcontainer__itemContents__item-introduction__text
        = @item.introduction

    %table.showcontainer__itemContents__details
      %tbody
        %tr
          %th
            出品者
          %td
            = link_to "#{@user.nickname}", users_path(@user), class: "show-a" 
  
        %tr
          %th
            カテゴリー
          %td
            .category
            = link_to @grandparent_category.name, "#", class: "show-a" unless @grandparent_category == nil
            .category
            = link_to @parent_category.name , "#", class: "show-a" unless @parent_category == nil
            .category
            = link_to @this_category.name , "#", class: "show-a"
        %tr
          %th
            ブランド
          %td
            = @item.brand.name
        %tr
          %th
            商品の状態
          %td
            = @item.status_i18n
        %tr
          %th
            大きさ
          %td
            = @item.size
        %tr
          %th
            配送元
          %td
            = @prefecture.name
        %tr
          %th
            配送料負担
          %td
            = @item.shipping_cost_i18n
        %tr
          %th
            配送日数
          %td
            = @item.shipping_days_i18n


    .showcontainer__itemContents__user-btn
      = link_to "#", class: "showcontainer__itemContents__user-btn__left" do
        %i.fas.fa-star
        %span
          お気に入り
        %span
          = rand (100)
      = link_to "#", class: "showcontainer__itemContents__user-btn__right" do
        %i.fas.fa-flag
        %span
          不適切な商品の通報


  .showcontainer__messages
    .showcontianer__messages__box
      .showcontianer__messages__box__comment.form-wrap
        - @comments.each do |comment|
          .detail-comment-box__inner.comment-display
            .detail-comment-box__inner__name.comment-display__name
              - if comment.user_id == @item.user_id
                出品者:
              - else
                ="#{comment.user.nickname}: "
            .detail-comment-box__inner__text.comment-display__message
              = comment.message
      .showcontianer__messages__box__form
        = form_with model: [@item, @comment],id:"new_comment", local: true do |f|
          = f.text_field :message,  class:"showcontainer__messages__box__form__text", id: "form-input", placeholder: "35文字以内",maxlength:"35"
          %p.showcontainer__messages__box__form__notice
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。
          - if user_signed_in?
            %button{ type: "submit", class: "showcontainer__messages__box__form__btn form-submit show-a" }
              %i.fas.fa-comment
              コメントする
          - else
            .detail-comment-box__login
              コメントにはログインが必要です


  %ul.showcontainer__prevLink
    - if @item.previous.present?
      %li.showcontainer__prevLink__flex
        = link_to  item_path(@item.previous.id),  class: "show-a" do
          前の商品
          %i.fas.fa-angle-left
    - else
      .none
    - if @item.next.present?
      %li.showcontainer__prevLink__flex
        = link_to  item_path(@item.next.id), class: "show-a" do
          次の商品
          %i.fas.fa-angle-right
    - else
      .none

  .showcontainer__related-item
    = link_to "#{@this_category.name}", "#" ,{class: "showcontainer__related-item__link show-a"}

= render "footer"
