!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleemarketSample75c
    %script{src: "https://js.pay.jp/", type: "text/javascript"}
    = csrf_meta_tags
    = csp_meta_tag
    %link{ rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" }
    %link{rel: "stylesheet", type: "text/css", href: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"}
    %link{rel: "stylesheet", href: "https://use.fontawesome.com/releases/v5.8.2/css/all.css"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{ type: "text/javascript", src: "//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"}
  %body
    -# 画面最上部にリンクが表示されるため、フロント実装時点ではコメントアウトで対応。今後については検討中
    -# %header
    -#   %nav
    -#     - if user_signed_in?
    -#       %strong= link_to current_user.username, root_path
    -#       = link_to 'プロフィール変更', edit_user_registration_path
    -#       = link_to 'ログアウト', destroy_user_session_path, method: :delete
    -#     - else
    -#       = link_to 'サインアップ', new_user_registration_path
    -#       = link_to 'ログイン', new_user_session_path
    -# %p.notice= notice
    -# %p.alert= alert
    = yield